--
-- PostgreSQL database dump
--

\restrict TkMGDRI40Wm9MB7hg3unzmtLlJUesmqVBV60jqttfVHecvSpRwyceCbE5WUw799

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_abstractemailuser; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_abstractemailuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL
);


ALTER TABLE public.accounts_abstractemailuser OWNER TO lokayukta;

--
-- Name: accounts_abstractemailuser_groups; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_abstractemailuser_groups (
    id bigint NOT NULL,
    abstractemailuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_abstractemailuser_groups OWNER TO lokayukta;

--
-- Name: accounts_abstractemailuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.accounts_abstractemailuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_abstractemailuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_abstractemailuser_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.accounts_abstractemailuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_abstractemailuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_abstractemailuser_user_permissions; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_abstractemailuser_user_permissions (
    id bigint NOT NULL,
    abstractemailuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_abstractemailuser_user_permissions OWNER TO lokayukta;

--
-- Name: accounts_abstractemailuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.accounts_abstractemailuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_abstractemailuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_otp; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_otp (
    id uuid NOT NULL,
    otp_code character varying(4) NOT NULL,
    otp_type character varying(10) NOT NULL,
    is_used boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.accounts_otp OWNER TO lokayukta;

--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_user (
    abstractemailuser_ptr_id bigint NOT NULL,
    phone character varying(15),
    profile_pic character varying(100),
    is_deleted boolean NOT NULL,
    "position" character varying(100),
    language character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_roll_id bigint
);


ALTER TABLE public.accounts_user OWNER TO lokayukta;

--
-- Name: accounts_userpermission; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_userpermission (
    id bigint NOT NULL,
    permission_name character varying(100),
    permission_code character varying(100),
    permission_status boolean
);


ALTER TABLE public.accounts_userpermission OWNER TO lokayukta;

--
-- Name: accounts_userpermission_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.accounts_userpermission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userpermission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_userprofile; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_userprofile (
    id bigint NOT NULL,
    first_name character varying(150),
    last_name character varying(150),
    date_of_birth date,
    age integer,
    gender character varying(10),
    user_source character varying(20),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT accounts_userprofile_age_check CHECK ((age >= 0))
);


ALTER TABLE public.accounts_userprofile OWNER TO lokayukta;

--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.accounts_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_userrolepermission; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_userrolepermission (
    id bigint NOT NULL,
    permission_level character varying(20) NOT NULL,
    user_permission_id bigint,
    user_roll_id bigint
);


ALTER TABLE public.accounts_userrolepermission OWNER TO lokayukta;

--
-- Name: accounts_userrolepermission_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.accounts_userrolepermission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userrolepermission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_userroll; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.accounts_userroll (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    can_edit boolean NOT NULL
);


ALTER TABLE public.accounts_userroll OWNER TO lokayukta;

--
-- Name: accounts_userroll_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.accounts_userroll ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userroll_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO lokayukta;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO lokayukta;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO lokayukta;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO lokayukta;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO lokayukta;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO lokayukta;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO lokayukta;

--
-- Name: coredata_banner; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.coredata_banner (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    image character varying(100),
    link character varying(200),
    is_clickable boolean NOT NULL,
    platform_type character varying(10) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.coredata_banner OWNER TO lokayukta;

--
-- Name: coredata_banner_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.coredata_banner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coredata_banner_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coredata_faq; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.coredata_faq (
    id bigint NOT NULL,
    question character varying(500) NOT NULL,
    answer text NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.coredata_faq OWNER TO lokayukta;

--
-- Name: coredata_faq_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.coredata_faq ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coredata_faq_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coredata_gallery; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.coredata_gallery (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    image character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.coredata_gallery OWNER TO lokayukta;

--
-- Name: coredata_gallery_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.coredata_gallery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coredata_gallery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coredata_highlights; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.coredata_highlights (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    image character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    highlight_date date NOT NULL
);


ALTER TABLE public.coredata_highlights OWNER TO lokayukta;

--
-- Name: coredata_highlights_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.coredata_highlights ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coredata_highlights_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coredata_lokayuktaprofiles; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.coredata_lokayuktaprofiles (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    image character varying(100) NOT NULL,
    user_status character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.coredata_lokayuktaprofiles OWNER TO lokayukta;

--
-- Name: coredata_lokayuktaprofiles_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.coredata_lokayuktaprofiles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coredata_lokayuktaprofiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coredata_staticpage; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.coredata_staticpage (
    id bigint NOT NULL,
    page_type character varying(50) NOT NULL,
    content text NOT NULL
);


ALTER TABLE public.coredata_staticpage OWNER TO lokayukta;

--
-- Name: coredata_staticpage_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.coredata_staticpage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coredata_staticpage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO lokayukta;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO lokayukta;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO lokayukta;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: lokayukta
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: lokayukta
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO lokayukta;

--
-- Data for Name: accounts_abstractemailuser; Type: TABLE DATA; Schema: public; Owner: lokayukta
--



--
-- Data for Name: accounts_abstractemailuser_groups; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.accounts_abstractemailuser_groups (id, abstractemailuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_abstractemailuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.accounts_abstractemailuser_user_permissions (id, abstractemailuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: accounts_otp; Type: TABLE DATA; Schema: public; Owner: lokayukta
--



--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.accounts_user (abstractemailuser_ptr_id, phone, profile_pic, is_deleted, "position", language, created_at, updated_at, user_roll_id) FROM stdin;
1	\N		f	\N	\N	2025-10-10 10:46:57.733383+05:30	2025-10-10 10:46:57.733383+05:30	\N
2	9650036673		f	\N	\N	2025-10-10 11:12:34.261566+05:30	2025-10-10 11:12:34.261566+05:30	\N
3	\N		f	\N	\N	2025-10-10 11:19:49.404176+05:30	2025-10-10 11:19:49.797372+05:30	\N
4	\N		f	\N	\N	2025-10-10 14:09:10.617318+05:30	2025-10-10 14:09:10.989237+05:30	\N
\.


--
-- Data for Name: accounts_userpermission; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.accounts_userpermission (id, permission_name, permission_code, permission_status) FROM stdin;
\.


--
-- Data for Name: accounts_userprofile; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.accounts_userprofile (id, first_name, last_name, date_of_birth, age, gender, user_source, created_at, updated_at, user_id) FROM stdin;
2	\N	\N	\N	\N	\N	web	2025-10-10 11:19:49.814145+05:30	2025-10-10 11:19:49.814145+05:30	3
1	\N	\N	\N	\N	\N	ios	2025-10-10 11:12:34.261566+05:30	2025-10-10 12:07:23.352779+05:30	2
3	\N	\N	\N	\N	\N	web	2025-10-10 14:09:10.998201+05:30	2025-10-10 14:09:10.998201+05:30	4
\.


--
-- Data for Name: accounts_userrolepermission; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.accounts_userrolepermission (id, permission_level, user_permission_id, user_roll_id) FROM stdin;
\.


--
-- Data for Name: accounts_userroll; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.accounts_userroll (id, name, can_edit) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: lokayukta
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
18b91a4a9883a9e3bdcb2d68ba63c4be41edc65e	2025-10-10 14:27:59.259205+05:30	4
\.


--
-- Data for Name: coredata_banner; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.coredata_banner (id, title, image, link, is_clickable, platform_type, is_active, created_at) FROM stdin;
2	demo	banners/delhi_lokayukta_web_banner_U9QZFFJ.jpg	\N	f	web	t	2025-10-13 11:19:04.916421+05:30
1	first baner	banners/delhi_lokayukta_web_banner.jpg	https://lokayukta.delhi.gov.in	t	app	t	2025-10-10 15:44:33.900541+05:30
\.


--
-- Data for Name: coredata_faq; Type: TABLE DATA; Schema: public; Owner: lokayukta
--



--
-- Data for Name: coredata_gallery; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.coredata_gallery (id, title, description, image, is_active, created_at) FROM stdin;
1	Image1	\N	gallery/lokayuktaintro.jpg	t	2025-10-13 12:07:31.539598+05:30
2	Image2	\N	gallery/lokayuktaintro_0pBJGg2.jpg	t	2025-10-13 12:07:45.262762+05:30
\.


--
-- Data for Name: coredata_highlights; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.coredata_highlights (id, title, description, image, is_active, created_at, highlight_date) FROM stdin;
1	RR for the post of Driver- Grade I,II and ordinary grade		notification_highlights/dvr.pdf	t	2025-10-13 13:02:39.322131+05:30	2025-10-10
\.


--
-- Data for Name: coredata_lokayuktaprofiles; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.coredata_lokayuktaprofiles (id, title, description, image, user_status, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: coredata_staticpage; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.coredata_staticpage (id, page_type, content) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: lokayukta
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	accounts	abstractemailuser
8	accounts	userpermission
9	accounts	user
10	accounts	userrolepermission
11	accounts	userroll
12	accounts	userprofile
13	accounts	otp
14	authtoken	token
15	authtoken	tokenproxy
16	coredata	banner
17	coredata	faq
18	coredata	staticpage
19	coredata	gallery
20	coredata	highlights
21	coredata	lokayuktaprofiles
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: lokayukta
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: lokayukta
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
qwqtzk2wk9dfd3cp399nx7s26a6vixsn	.eJxVjEEOwiAQRe_C2pARyEBcuvcMZBhmpGpoUtqV8e6mSRe6_e-9_zaZtrXlbciSp2ou5mxOv1shfkrfQX1Qv8-W574uU7G7Yg867G2u8roe7t9Bo9H2Onh1qbAXSOocIGpU7yAGUGJ0WIoKEyjGwiE4jATCUBWRRTGZzxftmziL:1v75VF:8bcd6oYvkamtfHXuq1byDdu7obW9kJITT6jovWtUbwE	2025-10-24 10:47:17.262113+05:30
\.


--
-- Name: accounts_abstractemailuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.accounts_abstractemailuser_groups_id_seq', 1, false);


--
-- Name: accounts_abstractemailuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.accounts_abstractemailuser_id_seq', 4, true);


--
-- Name: accounts_abstractemailuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.accounts_abstractemailuser_user_permissions_id_seq', 1, false);


--
-- Name: accounts_userpermission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.accounts_userpermission_id_seq', 1, false);


--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.accounts_userprofile_id_seq', 3, true);


--
-- Name: accounts_userrolepermission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.accounts_userrolepermission_id_seq', 1, false);


--
-- Name: accounts_userroll_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.accounts_userroll_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: coredata_banner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.coredata_banner_id_seq', 3, true);


--
-- Name: coredata_faq_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.coredata_faq_id_seq', 2, true);


--
-- Name: coredata_gallery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.coredata_gallery_id_seq', 2, true);


--
-- Name: coredata_highlights_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.coredata_highlights_id_seq', 1, true);


--
-- Name: coredata_lokayuktaprofiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.coredata_lokayuktaprofiles_id_seq', 1, false);


--
-- Name: coredata_staticpage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.coredata_staticpage_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 8, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 21, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: lokayukta
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 50, true);


--
-- Name: accounts_abstractemailuser_groups accounts_abstractemailus_abstractemailuser_id_gro_fbb1e9af_uniq; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser_groups
    ADD CONSTRAINT accounts_abstractemailus_abstractemailuser_id_gro_fbb1e9af_uniq UNIQUE (abstractemailuser_id, group_id);


--
-- Name: accounts_abstractemailuser_user_permissions accounts_abstractemailus_abstractemailuser_id_per_82978215_uniq; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser_user_permissions
    ADD CONSTRAINT accounts_abstractemailus_abstractemailuser_id_per_82978215_uniq UNIQUE (abstractemailuser_id, permission_id);


--
-- Name: accounts_abstractemailuser accounts_abstractemailuser_email_key; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser
    ADD CONSTRAINT accounts_abstractemailuser_email_key UNIQUE (email);


--
-- Name: accounts_abstractemailuser_groups accounts_abstractemailuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser_groups
    ADD CONSTRAINT accounts_abstractemailuser_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_abstractemailuser accounts_abstractemailuser_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser
    ADD CONSTRAINT accounts_abstractemailuser_pkey PRIMARY KEY (id);


--
-- Name: accounts_abstractemailuser_user_permissions accounts_abstractemailuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser_user_permissions
    ADD CONSTRAINT accounts_abstractemailuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_otp accounts_otp_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_otp
    ADD CONSTRAINT accounts_otp_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_phone_key; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_phone_key UNIQUE (phone);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (abstractemailuser_ptr_id);


--
-- Name: accounts_userpermission accounts_userpermission_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_userpermission
    ADD CONSTRAINT accounts_userpermission_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile accounts_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile accounts_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: accounts_userrolepermission accounts_userrolepermission_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_userrolepermission
    ADD CONSTRAINT accounts_userrolepermission_pkey PRIMARY KEY (id);


--
-- Name: accounts_userroll accounts_userroll_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_userroll
    ADD CONSTRAINT accounts_userroll_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: coredata_banner coredata_banner_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.coredata_banner
    ADD CONSTRAINT coredata_banner_pkey PRIMARY KEY (id);


--
-- Name: coredata_faq coredata_faq_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.coredata_faq
    ADD CONSTRAINT coredata_faq_pkey PRIMARY KEY (id);


--
-- Name: coredata_gallery coredata_gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.coredata_gallery
    ADD CONSTRAINT coredata_gallery_pkey PRIMARY KEY (id);


--
-- Name: coredata_highlights coredata_highlights_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.coredata_highlights
    ADD CONSTRAINT coredata_highlights_pkey PRIMARY KEY (id);


--
-- Name: coredata_lokayuktaprofiles coredata_lokayuktaprofiles_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.coredata_lokayuktaprofiles
    ADD CONSTRAINT coredata_lokayuktaprofiles_pkey PRIMARY KEY (id);


--
-- Name: coredata_lokayuktaprofiles coredata_lokayuktaprofiles_user_status_key; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.coredata_lokayuktaprofiles
    ADD CONSTRAINT coredata_lokayuktaprofiles_user_status_key UNIQUE (user_status);


--
-- Name: coredata_staticpage coredata_staticpage_page_type_key; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.coredata_staticpage
    ADD CONSTRAINT coredata_staticpage_page_type_key UNIQUE (page_type);


--
-- Name: coredata_staticpage coredata_staticpage_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.coredata_staticpage
    ADD CONSTRAINT coredata_staticpage_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: accounts_abstractemailuser_abstractemailuser_id_affba802; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_abstractemailuser_abstractemailuser_id_affba802 ON public.accounts_abstractemailuser_user_permissions USING btree (abstractemailuser_id);


--
-- Name: accounts_abstractemailuser_email_d061645d_like; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_abstractemailuser_email_d061645d_like ON public.accounts_abstractemailuser USING btree (email varchar_pattern_ops);


--
-- Name: accounts_abstractemailuser_groups_abstractemailuser_id_decd3fde; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_abstractemailuser_groups_abstractemailuser_id_decd3fde ON public.accounts_abstractemailuser_groups USING btree (abstractemailuser_id);


--
-- Name: accounts_abstractemailuser_groups_group_id_0de9e9ad; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_abstractemailuser_groups_group_id_0de9e9ad ON public.accounts_abstractemailuser_groups USING btree (group_id);


--
-- Name: accounts_abstractemailuser_permission_id_f4200f7b; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_abstractemailuser_permission_id_f4200f7b ON public.accounts_abstractemailuser_user_permissions USING btree (permission_id);


--
-- Name: accounts_otp_user_id_7275536e; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_otp_user_id_7275536e ON public.accounts_otp USING btree (user_id);


--
-- Name: accounts_user_phone_c603acdd_like; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_user_phone_c603acdd_like ON public.accounts_user USING btree (phone varchar_pattern_ops);


--
-- Name: accounts_user_user_roll_id_2095bbc0; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_user_user_roll_id_2095bbc0 ON public.accounts_user USING btree (user_roll_id);


--
-- Name: accounts_userrolepermission_user_permission_id_313cfbe6; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_userrolepermission_user_permission_id_313cfbe6 ON public.accounts_userrolepermission USING btree (user_permission_id);


--
-- Name: accounts_userrolepermission_user_roll_id_c46b9c6a; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX accounts_userrolepermission_user_roll_id_c46b9c6a ON public.accounts_userrolepermission USING btree (user_roll_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: coredata_lokayuktaprofiles_user_status_289783c2_like; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX coredata_lokayuktaprofiles_user_status_289783c2_like ON public.coredata_lokayuktaprofiles USING btree (user_status varchar_pattern_ops);


--
-- Name: coredata_staticpage_page_type_5266301d_like; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX coredata_staticpage_page_type_5266301d_like ON public.coredata_staticpage USING btree (page_type varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: lokayukta
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: accounts_abstractemailuser_user_permissions accounts_abstractema_abstractemailuser_id_affba802_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser_user_permissions
    ADD CONSTRAINT accounts_abstractema_abstractemailuser_id_affba802_fk_accounts_ FOREIGN KEY (abstractemailuser_id) REFERENCES public.accounts_abstractemailuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_abstractemailuser_groups accounts_abstractema_abstractemailuser_id_decd3fde_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser_groups
    ADD CONSTRAINT accounts_abstractema_abstractemailuser_id_decd3fde_fk_accounts_ FOREIGN KEY (abstractemailuser_id) REFERENCES public.accounts_abstractemailuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_abstractemailuser_groups accounts_abstractema_group_id_0de9e9ad_fk_auth_grou; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser_groups
    ADD CONSTRAINT accounts_abstractema_group_id_0de9e9ad_fk_auth_grou FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_abstractemailuser_user_permissions accounts_abstractema_permission_id_f4200f7b_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_abstractemailuser_user_permissions
    ADD CONSTRAINT accounts_abstractema_permission_id_f4200f7b_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_otp accounts_otp_user_id_7275536e_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_otp
    ADD CONSTRAINT accounts_otp_user_id_7275536e_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(abstractemailuser_ptr_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user accounts_user_abstractemailuser_pt_54e7bef9_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_abstractemailuser_pt_54e7bef9_fk_accounts_ FOREIGN KEY (abstractemailuser_ptr_id) REFERENCES public.accounts_abstractemailuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user accounts_user_user_roll_id_2095bbc0_fk_accounts_userroll_id; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_user_roll_id_2095bbc0_fk_accounts_userroll_id FOREIGN KEY (user_roll_id) REFERENCES public.accounts_userroll(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userprofile accounts_userprofile_user_id_92240672_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_user_id_92240672_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(abstractemailuser_ptr_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userrolepermission accounts_userroleper_user_permission_id_313cfbe6_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_userrolepermission
    ADD CONSTRAINT accounts_userroleper_user_permission_id_313cfbe6_fk_accounts_ FOREIGN KEY (user_permission_id) REFERENCES public.accounts_userpermission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userrolepermission accounts_userroleper_user_roll_id_c46b9c6a_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.accounts_userrolepermission
    ADD CONSTRAINT accounts_userroleper_user_roll_id_c46b9c6a_fk_accounts_ FOREIGN KEY (user_roll_id) REFERENCES public.accounts_userroll(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(abstractemailuser_ptr_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: lokayukta
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(abstractemailuser_ptr_id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict TkMGDRI40Wm9MB7hg3unzmtLlJUesmqVBV60jqttfVHecvSpRwyceCbE5WUw799

