<tr>
    <td colspan="2">
        <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="min-width: 100%; border-collapse: collapse;"
        >
            <tbody>
            <tr>
                <td style="padding: 15px 0px;" valign="top" align="center">
                <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="border-collapse: separate !important;"
                >
                    <tbody>
                    <tr>
                        <td
                        align="center"
                        valign="middle"
                        style="padding: 13px;"
                        >
                        <a
                            href="{{link}}"
                            title="{{btn_title}}"
                            target="_blank"
                            style="
                            font-size: 14px;
                            line-height: 1.5;
                            font-weight: 700;
                            letter-spacing: 1px;
                            padding: 15px 40px;
                            text-align: center;
                            text-decoration: none;
                            color: #ffffff;
                            border-radius: 50px;
                            background-color: #145388;
                            display: inline-block;
                            cursor: pointer;
                            "
                            >{{btn_title}}</a
                        >
                        </td>
                    </tr>
                    </tbody>
                </table>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>